@define-color selected-text #e2687c;
@define-color text #F5ECDF;
@define-color base #0A101F;
@define-color border #5c637a;
@define-color foreground #F5ECDF;
@define-color background #0A101F;

window * {
    all: unset;
    color: @text;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 18px;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

window .box-wrapper {
    background: alpha(@base, 1);           /* dark transparency */
    border: 2px solid alpha(@border, 0.9);    /* visible border */
    border-radius: 5px;
    padding: 4px;
    margin: 0;
    box-shadow: 0 2px 12px alpha(black, 0.85);
    backdrop-filter: blur(1px);
}

window .search-container {
    border: 2px solid alpha(@border, 0.9);    /* visible border */
    border-radius: 4px;
    padding: 4px 6px;
    margin: 0;
    background: alpha(@base, 0.8);            /* slightly transparent */
    box-shadow: inset 0 0 6px alpha(white, 0.05);
    backdrop-filter: blur(1px);
}

window .input {
    background: transparent;
    color: @text;
}
