:root {
--color00: #060b16;
--color01: #060b16;
--color02: #060b16;
--color03: #e7eaef;
--color04: #ffffff;
--color05: #ffffff;
--color06: #ffffff;
--color07: #ffffff;
--color08: #811139;
--color09: #e5af1b;
--color0A: #f0d17c;
--color0B: #353e4d;
--color0C: #b8b9bc;
--color0D: #9099a5;
--color0E: #e2687c;
--color0F: #e21d63;
}
