:root {
--color00: #0A101F;
--color01: #0A101F;
--color02: #0A101F;
--color03: #F5ECDF;
--color04: #C7D3E0;
--color05: #ffffff;
--color06: #C7D3E0;
--color07: #C7D3E0;
--color08: #811139;
--color09: #e5af1b;
--color0A: #f0d17c;
--color0B: #5C637A;
--color0C: #C24F40;
--color0D: #9099a5;
--color0E: #e2687c;
--color0F: #e21d63;
}
